@use "../styles/variables" as *;

.charactersBackground {
    height: 1fr;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../../src/assets/chracters-background.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.container {
    padding: 20px;
    text-align: center;
}
.container h1 {
    color: $primaryColor;
}

.charactersGridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.characterCard {
    background-color: $sectionBg;
    backdrop-filter: blur(5px);
    color: $primaryColor;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
    }
}
// ------------COMPONENTS--------------

.stickyHeader {
    position: sticky;
    top: 0;
    z-index: 1;
}
.searchContainer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

// ------------RESPONSIVE--------------

@media (min-width: 768px) {
    .charactersGridContainer {
        grid-template-columns: repeat(5, 1fr);
    }

    // -------res-components------------
    .searchContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 60px;
    } 
}
