@use "../styles/variables" as *;

.container {
    padding: 20px;
    text-align: center;
}

.charactersGridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.characterCard {
    background-color: rgba(3, 9, 20, 0.801);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
    }
}

@media (min-width: 768px) {
    .charactersGridContainer {
        grid-template-columns: repeat(5, 1fr);
    }
}
