@use "../styles/variables" as *;

.background {
    height: 100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../../src/assets/rick-and-morty-desktop.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainSection {
    width: 400px;
    height: 400px;
    background: $sectionBg;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inputContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.rememberContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.continueBtnContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.continueBtnContainer button {
    background-color: $btnColor;
    color: black;
    font-family: "Poppins",sans-serif;

    &:hover {
        background-color: $btnColor !important;
        color: black !important;
        font-size: 16px;    
      }
}
:global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: $btnColor !important;
    border-color: $btnColor !important;
  }
.form {
    width: 307px;
    height: 300px;
}
.form h2 {
    color: $primaryColor;
}
.rememberContainer span {
    color: $primaryColor;
    font-family: "Poppins",sans-serif;
}

// --------------RESPONSIVE---------------

@media (min-width: 768px) {
    .mainSection {
        width: 450px;
        height: 450px;
    }
    .form {
        width: 350px;
        height: 350px;
    }
}