@use "../styles/mixins";
@use "../styles/variables" as *;

.inputForm {
    background-color: $sectionBg;
    border: 1px solid $greenBorder;
    color: $primaryColor;

    &:focus {
        background-color: $sectionBg !important;
        border: 1px solid $greenFocus;
        color: $primaryColor;
    }

    &:hover {
        background-color: $sectionBg;
        border: 1px solid $greenFocus;
        color: $primaryColor;
    }
}
.formItem label {
    color: $primaryColor !important;
}
.formItem button {
    @include mixins.buttonStyle;
}