@use "../styles/variables" as *;

.filterContainer {
    margin-top: 12px;
    margin-bottom: 15px;
}

.filterItems {
    width: 200px;
}

// ------------RESPONSIVE--------------

@media (min-width: 768px) {
    .filterContainer {
        display: flex;
        align-content: stretch;
        justify-content: center;
        align-items: flex-end;
        gap: 10px;
    }
    .filterItems {
        width: 150px;
    }
}