.antInput {
    width: 100%;
}
.antInput input {
    background-color: transparent !important;
}

// ------------RESPONSIVE--------------

@media (min-width: 768px) {
    .antInput {
        width: 30%;
        height: 40px;
    }
}  